@import "../../assets/styles/functions";

.array-container {
  margin: 0 5% 0 5%;
  height: calc(100vh - 7rem);
  display: flex;
  align-items: flex-end;

  h1 {
    margin: 0;
  }

  .bar {
    margin: 0 1px 0 1px;
    border-radius: 1000px 1000px 0 0;
    background-color: color("secondary");

    &.compared {
      background-color: color("primary");
    }

    &.swapped {
      background-color: color("accent");
    }

    &.sorted {
      background-color: color("success");
    }
  }
}
